{% extends 'base.html' %}

{% load static %}



{% block title %}My Profile{% endblock %}



{% block extra_css %}

<link href="{% static 'css/filepond.css' %}" rel="stylesheet">

<link href="{% static 'css/filepond-plugin-file-poster.css' %}" rel="stylesheet">

<link href="{% static 'css/profile-filepond.css' %}" rel="stylesheet">

<link href="https://unpkg.com/@pqina/pintura@8.97.2/pintura.css" rel="stylesheet">

{% endblock %}



{% block content %}

<form method="post" enctype="multipart/form-data">

    {% csrf_token %}

    <input type="hidden" name="action" value="profile">



    <div class="row g-4 mb-4">

        <div class="col-lg-4">

            <div class="card h-100">

                <div class="card-header">

                    <h3 class="mb-0">Profile Image</h3>

                </div>

                <div class="card-body text-center profile-filepond-wrapper">

                    {{ profile_form.profile_image }}

                    <div class="text-danger">{{ profile_form.profile_image.errors }}</div>

                </div>

            </div>

        </div>



        <div class="col-lg-8">

            <div class="card h-100">

                <div class="card-header">

                    <h3 class="mb-0">My Profile</h3>

                </div>

                <div class="card-body">

                    <div class="row">

                        <div class="col-md-6 mb-3">

                            <label class="form-label">Username</label>

                            {{ user_form.username }}

                            <div class="text-danger">{{ user_form.username.errors }}</div>

                        </div>



                        <div class="col-md-6 mb-3">

                            <label class="form-label">Email</label>

                            {{ user_form.email }}

                            <div class="text-danger">{{ user_form.email.errors }}</div>

                        </div>



                        <div class="col-md-6 mb-3">

                            <label class="form-label">First Name</label>

                            {{ user_form.first_name }}

                            <div class="text-danger">{{ user_form.first_name.errors }}</div>

                        </div>



                        <div class="col-md-6 mb-3">

                            <label class="form-label">Last Name</label>

                            {{ user_form.last_name }}

                            <div class="text-danger">{{ user_form.last_name.errors }}</div>

                        </div>

                    </div>



                    <button type="submit" class="btn btn-primary">Save Profile</button>

                </div>

            </div>

        </div>

    </div>

</form>



<div class="card">

    <div class="card-header">

        <h3 class="mb-0">Change Password</h3>

    </div>

    <div class="card-body">

        <form method="post">

            {% csrf_token %}

            <input type="hidden" name="action" value="password">



            <div class="mb-3">

                <label class="form-label">Current Password</label>

                <div class="input-group">

                    {{ password_form.old_password }}

                    <button type="button" class="btn btn-outline-secondary toggle-password" aria-label="Show password">

                        <i class="bi bi-eye"></i>

                    </button>

                </div>

                <div class="text-danger">{{ password_form.old_password.errors }}</div>

            </div>



            <div class="mb-3">

                <label class="form-label">New Password</label>

                <div class="input-group">

                    {{ password_form.new_password1 }}

                    <button type="button" class="btn btn-outline-secondary toggle-password" aria-label="Show password">

                        <i class="bi bi-eye"></i>

                    </button>

                </div>

                <div class="text-danger">{{ password_form.new_password1.errors }}</div>

            </div>



            <div class="mb-3">

                <label class="form-label">Confirm New Password</label>

                <div class="input-group">

                    {{ password_form.new_password2 }}

                    <button type="button" class="btn btn-outline-secondary toggle-password" aria-label="Show password">

                        <i class="bi bi-eye"></i>

                    </button>

                </div>

                <div class="text-danger">{{ password_form.new_password2.errors }}</div>

            </div>



            {% if password_form.non_field_errors %}

                <div class="alert alert-danger">{{ password_form.non_field_errors }}</div>

            {% endif %}



            <button type="submit" class="btn btn-warning">Change Password</button>

        </form>

    </div>

</div>

{% endblock %}



{% block js %}

<script src="{% static 'js/filepond-plugin-file-poster.min.js' %}"></script>

<script src="{% static 'js/FilePondPluginImageEditor.iife.js' %}"></script>

<script src="{% static 'js/filepond.js' %}"></script>

<script>

$(document).ready(function() {

    $('.toggle-password').on('click', function() {

        var input = $(this).closest('.input-group').find('input');

        var icon = $(this).find('i');

        if (input.attr('type') === 'password') {

            input.attr('type', 'text');

            icon.removeClass('bi-eye').addClass('bi-eye-slash');

        } else {

            input.attr('type', 'password');

            icon.removeClass('bi-eye-slash').addClass('bi-eye');

        }

    });

});

</script>

<script type="module">

import {

    openEditor,

    createDefaultImageReader,

    createDefaultImageWriter,

    processImage,

    getEditorDefaults,

} from 'https://unpkg.com/@pqina/pintura@8.92.4/pintura.js';



FilePond.registerPlugin(

    FilePondPluginFilePoster,

    FilePondPluginImageEditor

);



var profileInput = document.querySelector('input.filepond');

if (profileInput) {

    var csrfToken = "{{ csrf_token }}";

    var existingProfileImage = "{{ filepond_initial_file|escapejs }}";

    var suppressServerRemove = false;

    var pendingEditUpload = false;



    function createProfileEditor(editorOptions) {

        suppressServerRemove = true;

        pendingEditUpload = false;

        return openEditor({

            ...editorOptions,

            willProcess: function() {

                pendingEditUpload = true;

            },

            willClose: function() {

                setTimeout(function() {

                    if (!pendingEditUpload) {

                        suppressServerRemove = false;

                    }

                }, 100);

            },

        });

    }



    var pondOptions = {

        name: 'profile_image',

        storeAsFile: false,

        allowMultiple: false,

        allowRevert: false,

        credits: false,

        labelIdle: 'Drag & Drop your picture or <span class="filepond--label-action">Browse</span>',

        stylePanelLayout: 'compact circle',

        styleLoadIndicatorPosition: 'center bottom',

        styleProgressIndicatorPosition: 'right bottom',

        styleButtonRemoveItemPosition: 'left bottom',

        styleButtonProcessItemPosition: 'right bottom',

        styleImageEditorButtonEditItemPosition: 'center bottom',

        imageEditor: {

            createEditor: createProfileEditor,

            imageReader: [createDefaultImageReader],

            imageWriter: [

                createDefaultImageWriter,

                {

                    targetSize: {

                        width: 200,

                        height: 200,

                        fit: 'cover',

                    },

                },

            ],

            imageProcessor: processImage,

            editorOptions: {

                ...getEditorDefaults(),

                imageCropAspectRatio: 1,

            },

        },

        server: {

            process: {

                url: "{% url 'profile_image_upload' %}",

                method: 'POST',

                headers: {

                    'X-CSRFToken': csrfToken,

                },

            },

            revert: function(uniqueFileId, load, error) {

                // Do not delete the profile image when FilePond reverts after edit/re-upload.

                load();

            },

            remove: function(source, load, error) {

                if (suppressServerRemove) {

                    load();

                    return;

                }



                fetch("{% url 'profile_image_delete' %}", {

                    method: 'DELETE',

                    headers: {

                        'X-CSRFToken': csrfToken,

                    },

                }).then(function(response) {

                    if (response.ok) {

                        load();

                        window.location.reload();

                    } else {

                        error('Unable to remove image.');

                    }

                }).catch(function() {

                    error('Unable to remove image.');

                });

            },

            load: function(source, load, error, progress, abort) {

                var controller = new AbortController();

                fetch("{% url 'profile_image_load' %}", {

                    signal: controller.signal,

                }).then(function(response) {

                    if (!response.ok) {

                        throw new Error();

                    }

                    return response.blob();

                }).then(function(blob) {

                    load(blob);

                }).catch(function() {

                    error('Unable to load image.');

                });



                return {

                    abort: function() {

                        controller.abort();

                        abort();

                    }

                };

            },

        },

    };



    if (existingProfileImage) {

        pondOptions.files = [

            {

                source: "current-profile-image",

                options: {

                    type: 'local',

                },

            },

        ];

    }



    var pond = FilePond.create(profileInput, pondOptions);



    pond.on('processfilestart', function() {

        suppressServerRemove = true;

    });



    pond.on('processfile', function(error) {

        pendingEditUpload = false;

        suppressServerRemove = false;

        if (!error) {

            window.location.reload();

        }

    });



    pond.on('processfileabort', function() {

        pendingEditUpload = false;

        suppressServerRemove = false;

    });

}

</script>

{% endblock %}


