{% extends 'base.html' %}

{% block title %}
Create Skill
{% endblock %}

{% block content %}

<div class="card">

    <div class="card-header">
        <h3>Create Skill</h3>
    </div>

    <div class="card-body">

        <form method="post" id="skillForm" novalidate>

            {% csrf_token %}

            <div class="row">

                <div class="col-md-6 mb-3">

                    <label class="form-label">
                        Name *
                    </label>

                    {{ form.name }}

                    <div class="text-danger">
                        {{ form.name.errors }}
                    </div>

                </div>

                <div class="col-md-12 mb-3">

                    <label class="form-label">
                        Description *
                    </label>

                    {{ form.description }}

                    <div class="text-danger">
                        {{ form.description.errors }}
                    </div>

                </div>

            </div>

            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            <div id="formErrors" class="alert alert-danger d-none"></div>

            <button type="submit"
                    class="btn btn-success">
                Save Skill
            </button>

            <a href="{% url 'skill_list' %}"
               class="btn btn-secondary">
                Cancel
            </a>

        </form>

    </div>

</div>

{% endblock %}

{% block js %}
{% load static %}
<script src="{% static 'js/skill-formvalidation.js' %}"></script>
<script>

    function clearSkillErrors() {
        $("#formErrors").addClass("d-none").html("");
        $("#skillForm div.text-danger").html("");
        $("#skillForm .is-invalid").removeClass("is-invalid");
    }

    $(document).ready(function() {

        $("#skillForm").on("submit", function(e) {

            e.preventDefault();

            if (!$(this).valid()) {
                return false;
            }

            clearSkillErrors();

            $.ajax({

                url: "{% url 'skill_ajax_create' %}",

                type: "POST",

                data: $(this).serialize(),

                success:function(response){

                    if(response.status == "success"){

                        window.location.href = "{% url 'skill_list' %}?success=created";

                    } else {
                        $.each(response.errors || {}, function(field, messages) {
                            if (field === "__all__") {
                                $("#formErrors").removeClass("d-none").html(messages.join("<br>"));
                                return;
                            }
                            var input = $("#skillForm [name='" + field + "']");
                            var wrapper = input.closest(".mb-3");
                            wrapper.find("div.text-danger").html(messages.join("<br>"));
                        });
                    }

                }

            });

        });

    });

</script>
{% endblock %}
